.navbar
{
	background-color: #F5F5F5;
	text-align: center;
}
.navbar ul
{
	display: flex;
}
.navbar ul li
{
	list-style: none;
	padding: 0 60px;

}
.navbar ul li a
{
	text-decoration: none;
	color: #000;
	font-family: 'Poppins';
}
.profile
{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	height: 100vh;
	text-align: center;
	display: block;
	width: 600px;
	
}
@media only screen and (max-width: 600px)
{
	.profile
	{
		width: 100%;
	}
}
.name
{
	font-family: "Playfair";
	font-weight: 700;
}
.job
{
	font-family: "Alegreya";
	font-weight: 500;
}
.add
{
	font-family: "Alegreya";
	font-weight: 600;
}
#profile-img
{
	width: 130px;
	height: 130px;
	border-radius: 100%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;

}


.office-name
{
   font-size: 15px;
	font-weight: 400;	
	line-height: 0.5;
}
#btn{
  background: linear-gradient(to top right, #8162CE, #00AAFF);
  border: none;
  outline: none;
  border-radius: 25px;
  height:40px;
  color: white;
  margin-top: 10px;
  padding: 8px 11px;
} 
.contact-style
{
background: #5DD55D;
width: 80px;
border: none; 
height: 40px; 
border-radius: 25px; 
outline: none;
}
.fa-phone-alt
{
	color: white; font-size: 24px; 
}
.website-style
{
background: #1380BA;
width: 80px;
border: none; 
height: 40px; 
border-radius: 25px; 
outline: none;
}
.fa-globe
{
	color: white; font-size: 24px; 
}
.gmail-style
{
background: #B23121;
width: 80px;
border: none; 
height: 40px; 
border-radius: 25px; 
outline: none;
}
.fa-envelope-square
{
	color: white; font-size: 24px; 
}
.facebook
{
	background: #3b5998; 
	width: 67px; 
	border: none; 
	height: 41px; 
	border-radius: 15px; 
	outline: none;
}
.fa-facebook, .fa-instagram, .fa-twitter, .fa-youtube
{
	color: white; font-size: 24px;
}
.instagram
{
	background-image: linear-gradient(to right,#E1306C,#FCAF45,#833AB4); 
	outline: none; 
	width: 67px; 
	border: none; 
	height: 41px; 
	border-radius: 15px;
}
.twitter
{
	background: #1DA1F2; 
	outline: none; 
	width: 67px; 
	border: none; 
	height: 41px; 
	border-radius: 15px
}
.youtube
{
	background: #FF0000; 
	outline: none; 
	width: 67px; 
	border: none; 
	height: 41px; 
	border-radius: 15px;
}



